<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cleango"
        tools:targetApi="31">

        <!-- Khai báo API Key duy nhất -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <!-- MainActivity có intent-filter nên cần android:exported -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WorkPackageActivity" />
        <activity android:name=".WorkRepeatActivity" />
        <activity android:name=".WorkWaitingActivity" />
        <activity android:name=".MessChatActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".MessNewsActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".CleanHouseAct" />
        <activity android:name=".CleanHouse1Act" />
        <activity android:name=".HomeCleanhouseActivity" />
        <activity android:name=".AccActivity" />
        <activity android:name=".InforActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CollabActivity" />
        <activity android:name=".DangKy" />
        <activity android:name=".DangNhap" />
    </application>
</manifest>
